/*!
 * Main css for CDAD Detroit Draw Map
 */

html, body, .paddingTop140Bottom70, #map {
	height: 100%;
}

.paddingTop140Bottom70 {
	padding-bottom: 0px !important;
}

.percent {
	top: 200px !important;
}

/*
* draw maps buttons
*/

#imFinished {
	position: absolute;
	top: 362px;
	left: 10px;
}

#startOver {
	position: absolute;
	top: 402px;
	left: 10px;
}

.skipButton {
	position: absolute;
	top: 322px;
	left: 72px;
}

.backButton {
	position: absolute;
	top: 322px;
	left: 10px;
}

.helpButton {
	position: absolute;
	top: 322px;
	left: 130px;
}