/*!
 * Main css for CDAD Detroit Mapping Site
 */

.rollover-tooltip {
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 13px;
}

.info-title-bar {
	width: 302px;
	margin-top: -20px;
	margin-left: -20px;
	padding: 20px;
	font-size: 16px;
	color: #d8d8d7;
	background-color: #595959;
}

.info-content-titles {
	margin-top: 10px;
	font-size: 14px;
	color: #8C8C8C;
}

.info-content {
	margin-top: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #d8d8d7;
}

.modal-orgName {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    color: #595959;
    font-size: 36px;
	margin-bottom: -9px;
}

.modal-header {
	padding: 15px 15px 0px 15px;
	border-bottom: 30px solid #595959;
}

.modal-lg {
	width: 90%;
}


/*
* Leaflet overrides
*/

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #595959;
}



