/*!
 * Popup popout that includes settings, info, filters, and about 
 */

.popout-content {
    z-index: 1001;
    position: fixed;
    right: 442px;
    top: 65px;
	bottom: 16px;
    width: 0;
	margin-right: -302px;
    overflow: hidden;
    background: #3D3D3D;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.popout-content-open {
	width: 302px;
}

.popout-banner-open {
	width: 322px;
}


.banner-text {
	padding-top: 4px;
    font-family: 'Oswald';
	font-size: 36px;
    font-style: normal;
    font-weight: normal;
	text-align: center;
	letter-spacing: 0.1em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.popout-nav {
    position: absolute;
    top: 0;
    width: 302px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.right-bar-color {
	display: none;
	z-index: 1002;
	position: absolute;
	right:0;
	background-color: #e8c51d;
	width: 8px;
	height: 100%;
	overflow-y: visible;
}

.popout-nav > .popout-content {
	display: none;
	text-align: left;
	width: 302px;
	padding: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    display: block;
    text-decoration: none;
    color: #595959;
	
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
}

.popout-nav > .popout-content > .toggle-maps {
	margin-top: 20px;
}

.label-activity {
	line-height: 20px;
	background-color: #e8826d;
}

@media(max-width:768px) {
	
    .popout-content {
        width: 0;
    }

    .popout-banner {
        width: 0;
    }
	
}