{% extends 'cdadmap/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/bootstrap-modal-carousel.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/leaflet.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/leaflet.label.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/MarkerCluster.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/MarkerCluster.Default.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/Control.Geocoder.css' %}">	
	<style type="text/css">
	
		.popout-banner {			
		    z-index: 1002;
		    position: fixed;
		    right: 462px;
		    top: 5px;
		    width: 0;
			height: 77px;
		    margin-right: -322px;
			overflow: hidden;
		    -webkit-transition: all 0.5s ease;
		    -moz-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
			background-image: url({% static 'cdadmap/css/images/yellow-banner.png' %});
		}		

		.toggle-off {
			display: inline-block;
			float: right;
			margin-top: 2px;
			width: 30px;
			height: 15px;
			background-image: url({% static 'cdadmap/css/images/toggle-off.png' %});
		}

		.toggle-on {
			display: inline-block;
			float: right;
			margin-top: 2px;
			width: 30px;
			height: 15px;
			background-image: url({% static 'cdadmap/css/images/toggle-on.png' %});
		}

		.twitter-logo {
			display: inline-block;
			margin-right: 10px;
			width: 50px;
			height: 50px;
			background-image: url({% static 'cdadmap/css/images/twitter-logo.png' %});
		}

		.facebook-logo {
			display: inline-block;
			margin-right: 10px;
			width: 50px;
			height: 50px;
			background-image: url({% static 'cdadmap/css/images/facebook-logo.png' %});
		}


				
	</style>
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/popout-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/perfect-scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/popup-bottombar.css' %}">


	
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block body_block %}
<!-- Popout-sidebar  -->
<div id="popout-wrapper" class="popout-wrapper">
	<div id="popout-banner" class="popout-banner">
		<p id="banner-text" class="banner-text"></p>
	</div>
	<div id="popout-content" class="popout-content">
		<div class="right-bar-color"></div>
	    <div class="popout-nav">
	        <div id="popout-settings-content" class="popout-content">
				<div class="btn-group btn-group-justified " role="group" aria-label="Change Background Map">
				  <div class="btn-group" role="group">
				    <button id="CartoDBLayer" type="button" class="btn btn-default">MAP</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button id="osmTileSat" type="button" class="btn btn-default">SATELLITE</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button id="osmTileMap" type="button" class="btn btn-default">STREET</button>
				  </div>
				</div>
				<ul class="list-group toggle-maps">
				  <li class="list-group-item">CITY OF DETROIT BOUNDARY <span id="DetroitBoundary" class="toggle-off"></span></li>
				  <li class="list-group-item">COUNCIL DISTRICT BOUNDARIES <span id="CouncilDistrictBoundaries" class="toggle-off"></span></li>
				  <li class="list-group-item"><span class="dashedUnderline" data-toggle="tooltip" data-placement="top" title="Detriot Master Plan Neighborhoods are the official neighborhoods used by the City's Planning and Development Department.">MASTER PLAN NEIGHBORHOODS</span> <span id="NeighborhoodBoundaries" class="toggle-off"></span></li>
				  <li class="list-group-item">ZIP CODE BOUNDARIES <span id="ZipCodeBoundaries" class="toggle-off"></span></li>
				  <li class="list-group-item">CDO & BLOCK CLUB SERVICE AREAS <span id="CDOBC" class="toggle-off"></span></li>
				</ul>
	        </div>
	        <div id="popout-info-content" class="popout-content"></div>
	        <div id="popout-filters-content" class="popout-content">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          ORGANIZATION TYPE <span class="glyphicon glyphicon-plus glyphicon-orgtype pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body content-filters">
						{% for choice in Organization_Description_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="Organization_Description_Choices" value="{{ choice.0 }}">
							    {{ choice.1 }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          SERVICE AREA <span class="glyphicon glyphicon-plus glyphicon-servicearea pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body content-filters">
						{% for choice in Service_Area_Choices %} 	
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="Service_Area_Choices" value="{{ choice.0 }}">
							    {{ choice.1 }}
							  </label>
							</div>
						{% endfor %}
						{% for choice in Council_District_Choices %} 	
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="Council_District_Choices" value="{{ choice.0 }}">
							    {{ choice.1 }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          ORGANIZATION STRUCTURE <span class="glyphicon glyphicon-plus glyphicon-orgstructure pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body content-filters">
						{% for choice in organization_structured_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="organization_structured_Choices" value="{{ choice.0 }}">
							    {{ choice.1 }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				          ACTIVITIES AND SERVICES <span class="glyphicon glyphicon-plus glyphicon-activityservice pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body content-filters">
						{% for choice in Activities_Services_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="Activities_Services_Choices" value="{{ choice.0 }}">
							    {{ choice.1 }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				          INDIVIDUALS & GROUPS SERVED <span class="glyphicon glyphicon-plus glyphicon-servicepop pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body content-filters">
						{% for choice in Service_Population_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="Service_Population_Choices" value="{{ choice.0 }}">
							    {{ choice.1 }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				          LANGUAGES OFFERED <span class="glyphicon glyphicon-plus glyphicon-language pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      <div class="panel-body content-filters">
						{% for choice in Languages_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="Languages_Choices" value="{{ choice.0 }}">
							    {{ choice.1 }}
							  </label>
							</div>
						{% endfor %}
							<div class="checkbox">
							  <label>
							    <input type="checkbox" class="Languages_Other" value="Other">
							    Other
							  </label>
							</div>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSeven">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				          CURRENT CDAD MEMBER <span class="glyphicon glyphicon-plus glyphicon-cdadmebership pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
				      <div class="panel-body content-filters">
							<div class="radio">
							  <label>
							    <input type="radio" name="cdadmebership" class="cdadmebership" value="Yes">
							    Yes
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="cdadmebership" class="cdadmebership" value="No">
							    No
							  </label>
							</div>
				      </div>
				    </div>
				  </div>
				</div>
				<button id="clearFilters" class="btn btn-default pull-right" type="submit">CLEAR FILTERS</button>
	        </div>
	        <div id="popout-about-content" class="popout-content">
	        	<p class="about-content"><strong>d[COM]munity</strong> is CDAD's interactive map and directory for all of Detroit’s community-based organizations working to make our neighborhoods strong and vibrant.  You can find out who is working in your area, search for existing groups, and make sure your organization is listed. This resource will help Detroit organizations, institutions, and residents connect and learn about the activities and services of block clubs, neighborhood associations, community development organizations, and neighborhood improvement organizations throughout the city.</p>
	        </div>
		</div>
	</div>
</div>
<!-- /#popout-wrapper-->

<!-- #popup-wrapper-->
<div id="popup-wrapper" class="popup-wrapper">
	<!-- include page for popup content-->
	{% include 'cdadmap/popup-content.html' %}
</div>
<!-- /#popup-wrapper-->


<!-- Page Content -->
<div id="map"></div>				
<!-- /#page-content-wrapper -->
{% endblock %}

{% block modal_block %}
<div id="modal-wrapper" class="modal-wrapper">
	{% include 'cdadmap/org-modal.html' %}
</div>

<!-- ajax loading page modal -->
<div class="modal fade" id="introduction" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modalContent">
      	<h3 class="text-center">Welcome to d[COM]munity<br />A Project of CDAD</h3>
      	<p class="text-justify">
			Welcome to d[COM]munity, CDAD’s interactive map and directory for all of Detroit’s community-based organizations working to make our neighborhoods strong and vibrant.  You can find out who is working in your area, search for existing groups, and make sure your organization is listed. This resource will help Detroit organizations, institutions, and residents connect and learn about the activities and services of block clubs, neighborhood associations, community development organizations, and neighborhood improvement organizations throughout the city.</p>
		<div class="clearfix"></div>
        <button id="closeIntroModal" class="btn btn-primary btn-lg btn-block" type="submit">START USING D[COM]MUNITY</button>
        <div class="checkbox text-center text-uppercase">
		  <label>
		    <input type="checkbox" id="toggleIntroCookie" value="NoShow">
		   Don't Show This Message
		  </label>
		</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
	<!-- create locations geojson and include the topojson layers-->
	<script type="text/javascript">
		var detlayer = "{% static 'cdadmap/topojsons/detroit_city_boundary.json' %}";			
		var cdblayer = "{% static 'cdadmap/topojsons/detroit_city_council_district_boundaries.json' %}";	
		var nblayer = "{% static 'cdadmap/topojsons/detroit_neighborhood_boundaries.json' %}";	
		var zcblayer = "{% static 'cdadmap/topojsons/detroit_zip_codes.json' %}";
		var locations = {% include 'cdadmap/locations-geojson.html' %};
	</script>
	<script type="text/javascript" src="{% static 'cdadmap/js/popout.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/address-dropdown.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/bootstrap-modal-carousel.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/perfect-scrollbar.jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/underscore-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/leaflet.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/leaflet.label-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/leaflet-omnivore.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/leaflet.markercluster.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/Control.Geocoder.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/CDADMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/CDADModalMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/application.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/jquery.cookie.js' %}"></script>

	<!-- open introductory modal on page load -->
	<script type="text/javascript">
		$( document ).ready(function() {
			if (!$.cookie('noIntro')) {
				$('#introduction').modal('show');
				// close if button clicked
				$('#closeIntroModal').click(function() {
					$('#introduction').modal('hide');
				});
				// set cookie if don't show this message is checked
				$('#toggleIntroCookie').change(function() {
					if($(this).is(":checked")) {
						$.cookie('noIntro', 'noIntro', { expires: 365, path: '/' });
					} else {
						$.removeCookie('noIntro', { path: '/' });
					}
				});
			}
		});
	</script>

{% endblock %}






	
	

