{% extends 'cdadmap/base.html' %}
{% load staticfiles %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/bootstrap-modal-carousel.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/leaflet.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/MarkerCluster.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/MarkerCluster.Default.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/Control.Geocoder.css' %}">	
	<style type="text/css">
	
		.popout-banner {			
		    z-index: 1002;
		    position: fixed;
		    right: 462px;
		    top: 5px;
		    width: 0;
			height: 77px;
		    margin-right: -322px;
			overflow: hidden;
		    -webkit-transition: all 0.5s ease;
		    -moz-transition: all 0.5s ease;
		    -o-transition: all 0.5s ease;
		    transition: all 0.5s ease;
			background-image: url({% static 'cdadmap/css/images/yellow-banner.png' %});
		}		

		.toggle-off {
			display: inline-block;
			float: right;
			margin-top: 2px;
			width: 30px;
			height: 15px;
			background-image: url({% static 'cdadmap/css/images/toggle-off.png' %});
		}

		.toggle-on {
			display: inline-block;
			float: right;
			margin-top: 2px;
			width: 30px;
			height: 15px;
			background-image: url({% static 'cdadmap/css/images/toggle-on.png' %});
		}
				
	</style>
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/popout-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cdadmap/css/perfect-scrollbar.css' %}">
	
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block body_block %}
<!-- Popout-sidebar  -->
<div id="popout-wrapper" class="popout-wrapper">
	<div id="popout-banner" class="popout-banner">
		<p id="banner-text" class="banner-text"></p>
	</div>
	<div id="popout-content" class="popout-content always-visible">
		<div class="right-bar-color"></div>
	    <div class="popout-nav">
	        <div id="popout-settings-content" class="popout-content">
				<div class="btn-group btn-group-justified " role="group" aria-label="Change Background Map">
				  <div class="btn-group" role="group">
				    <button id="CartoDBLayer" type="button" class="btn btn-default">MAP</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button id="osmTileSat" type="button" class="btn btn-default">SATELLITE</button>
				  </div>
				  <div class="btn-group" role="group">
				    <button id="osmTileMap" type="button" class="btn btn-default">HYBRID</button>
				  </div>
				</div>
				<ul class="list-group toggle-maps">
				  <li class="list-group-item">COUNCIL DISTRICT BOUNDARIES <span id="CouncilDistrictBoundaries" class="toggle-off"></span></li>
				  <li class="list-group-item">NEIGHBORHOOD BOUNDARIES <span id="NeighborhoodBoundaries" class="toggle-off"></span></li>
				  <li class="list-group-item">ZIP CODE BOUNDARIES <span id="ZipCodeBoundaries" class="toggle-off"></span></li>
				  <li class="list-group-item">CDO & BLOCK CLUB SERVICE AREAS <span id="CDOBoundaries" class="toggle-off"></span></li>
				</ul>
	        </div>
	        <div id="popout-info-content" class="popout-content"></div>
	        <div id="popout-filters-content" class="popout-content">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          ORGANIZATION TYPE <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body content-filters">
						{% for choice in Organization_Description_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" value="{{ choice }}">
							    {{ choice }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          SERVICE AREA <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body content-filters">
						{% for choice in Service_Area_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" value="{{ choice }}">
							    {{ choice }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          ORGANIZATION STRUCTURE <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body content-filters">
						{% for choice in organization_structured_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" value="{{ choice }}">
							    {{ choice }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				          ACTIVITIES AND SERVICES <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body content-filters">
						{% for choice in Activities_Services_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" value="{{ choice }}">
							    {{ choice }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				          INDIVIDUALS & GROUPS SERVED <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body content-filters">
						{% for choice in Service_Population_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" value="{{ choice }}">
							    {{ choice }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				          LANGUAGES OFFERED <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      <div class="panel-body content-filters">
						{% for choice in Languages_Choices %}  						
							<div class="checkbox">
							  <label>
							    <input type="checkbox" value="{{ choice }}">
							    {{ choice }}
							  </label>
							</div>
						{% endfor %}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSeven">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				          CDAD MEMBERSHIP <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
				      <div class="panel-body content-filters">
							<div class="radio">
							  <label>
							    <input type="radio" name="cdadmebership" value="Yes">
							    Yes
							  </label>
							</div>
							<div class="radio">
							  <label>
							    <input type="radio" name="cdadmebership" value="No">
							    No
							  </label>
							</div>
				      </div>
				    </div>
				  </div>
				</div>
	        </div>
	        <div id="popout-about-content" class="popout-content"></div>
		</div>
	</div>
</div>
<!-- /#popout-wrapper-->

<!-- Page Content -->
<div id="map"></div>				
<!-- /#page-content-wrapper -->
{% endblock %}

{% block modal_block %}
{% include 'cdadmap/org-modal.html' %}
{% endblock %}
{% block js_block %}
	<!-- create locations geojson and include the topojson layers-->
	<script type="text/javascript">
		var locations = {% include 'cdadmap/locations-geojson.html' %};
		var locationsWithoutLatLon = {% include 'cdadmap/locationsWithoutLatLon.html' %};
		var cdblayer = "{% static 'cdadmap/topojsons/detroit_city_council_district_boundaries.json' %}";	
		var nblayer = "{% static 'cdadmap/topojsons/detroit_neighborhood_boundaries.json' %}";	
		var zcblayer = "{% static 'cdadmap/topojsons/detroit_zip_codes.json' %}";	
	</script>
	<script type="text/javascript" src="{% static 'cdadmap/js/bootstrap-modal-carousel.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/perfect-scrollbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/leaflet.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/leaflet-omnivore.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/topojson.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/leaflet.markercluster.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/Control.Geocoder.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/CDADMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/CDADModalMap.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/application.js' %}"></script>
	<script type="text/javascript" src="{% static 'cdadmap/js/popout.js' %}"></script>
	
	<script type="text/javascript">
		// globally define maps
		var maps = [];			
		
		// modal maps: loop through each location and create a map for each on the modal
		$().ready(new function(){
			// hide the carousel
			$('#orgCarousel').hide();

			// set up a listener for hiding the carousel when the modal is closed
			$('#orgModal').on('hidden.bs.modal', function (e) {
			  $('#orgCarousel').hide();
			});

			// after carousel completes sliding 
			$('#orgCarousel').on('slid.bs.carousel', function () {
				// set modal backrop height if the modal height is bigger than the window height
				var modalHeightValue = $('.modal-body').height() + $('.modal-header').height() + $('.modal-footer').height() + 205;
				var windowHeight = $(window).height();
				if (modalHeightValue < windowHeight) {
					modalHeightValue = windowHeight;
				}
				var modalHeightString = modalHeightValue + 'px';
				$(".modal-backdrop").css('height', modalHeightString);

			});



			// define mini-maps array
			{% for location in locations %}
				var mapid = 'map' + {{ location.idlocation }};
			    maps[{{ location.idlocation }}] = new CDADModalMap(mapid, {{ location.Lat }}, {{ location.Lon }});			
					
			{% endfor %}
			
			// ensure thumbnail maps render in dropdown				
			$(".carousel-control").click(function() {
				
				{% for location in locations %}				
					// use invalidate size to make maps show appropriately
					setTimeout(function() {
						maps[{{ location.idlocation }}].map.invalidateSize();
						
						// update modal title
						if ($( "#modalItem{{ location.idlocation }}").hasClass('next')) {
							$( "#titleOrgName" ).html('{{ location.Organization_Name }}');						
						}
						
					}, 10);
					
				{% endfor %}
			});		
		});
	</script>

{% endblock %}


	
	

