{% load staticfiles %}
	{
		"type": "FeatureCollection",
    	"features": [ {% for location in locationsWithoutLatLon %}
			{
			    "type": "Feature",
			    "properties": {
					"counterId": "{{ forloop.counter0 }}",
					"idlocation": "{{ location.idlocation }}",
			        "Organization_Name": "{{ location.Organization_Name }}",
			        "Address": "{{ location.Address }}",
			        "Address2": "{{ location.Address2 }}",
			        "City": "{{ location.City }}",
			        "ZipCode": "{{ location.ZipCode }}",
			        "State": "{{ location.State }}",
			        "MailingAddress": "{{ location.MailingAddress }}",
			        "Activity": "{{ location.Activity }}",
			        "Organization_Description": "{{ location.getSurveyObject.Organization_Description }}",
			        "Activities_Services": "{{ location.getSurveyObject.Activities_Services }}",
			        "Tel": "{{ location.getContactObject.Tel }}",
			        "Email": "{{ location.getContactObject.Email }}",
			        "Social_website": "{{ location.getSurveyObject.Social_website }}",
					"iconUrl": "{% static 'cdadmap/css/images/cdad-marker.png' %}"
			    },
			}{% if forloop.last %}{% else %},{% endif %}{% endfor %}
	    ]
	}