{% load staticfiles %}

	{
		"type": "FeatureCollection",
    	"features": [ {% for location in locations %}
			{
			    "type": "Feature",
			    "properties": {
					"counterId": "{{ forloop.counter0 }}",
					"idlocation": "{{ location.idlocation }}",
			        "Organization_Name": "{{ location.Organization_Name }}",
			        "Organizaton_Acronym": "{{ location.getSurveyObject.Organizaton_Acronym }}",
			        "Address": "{{ location.Address }}",
			        "Address2": "{{ location.Address2 }}",
			        "City": "{{ location.City }}",
			        "ZipCode": "{{ location.ZipCode }}",
			        "State": "{{ location.State }}",
			        "MailingAddress": "{{ location.MailingAddress }}",
			        "Activity": "{{ location.Activity }}",
			        "Organization_Description": "{{ location.getSurveyObject.Organization_Description }}",
			        "Activities_Services": "{{ location.getSurveyObject.Activities_Services }}",
			        "Email": "{{ location.getSurveyObject.Social_Email }}",
			        "Phone": "{% if location.getSurveyObject.Social_Phone_KeepPrivate %}{% else %}{{ location.getSurveyObject.Social_Phone }}{% endif %}",
			        "Social_website": "{{ location.getSurveyObject.Social_website }}",
			        "Social_facebook": "{{ location.getSurveyObject.Social_facebook }}",
			        "Social_Twitter": "{{ location.getSurveyObject.Social_Twitter }}",
					"iconUrl": "{% static 'cdadmap/css/images/cdad-marker.png' %}"
			    },
			    "geometry": {
			        "type": "Point",
			        "coordinates": [ {{ location.Lon }}, {{ location.Lat }} ]
			    }
			}{% if forloop.last %}{% else %},{% endif %}{% endfor %}
	    ]
	}