<div id="orgCarousel" class="carousel slide" data-interval="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
{% for location in locations %}
	{% if forloop.first %}
	    <div class="item active" id="modalItem{{ location.idlocation }}">
	{% else %}
	    <div class="item" id="modalItem{{ location.idlocation }}">
	{% endif %}
			<div class="container-fluid">
				<div class="row modalContent">
				{% if location.Lat == "0" %}
				  <div class="col-sm-4">
					  <div class="info-modal-titles">ORGANIZATIONAL CONTACT</div>
					  <p class="info-modal-content">{{ location.Address }} {{ location.Address2 }}<br>{{ location.City }}, {{ location.State }} {{ location.ZipCode }}</p>
					  <p class="info-modal-content"><a href="mailto:{{ location.getSurveyObject.Social_Email }}">{{ location.getSurveyObject.Social_Email }}</a></p>
					  <p class="info-modal-content"><a href="{{ location.getSurveyObject.Social_website }}">{{ location.getSurveyObject.Social_website }}</a></p>
					  <p class="info-modal-content"><a href="{{ location.getSurveyObject.Social_facebook }}"><span class='facebook-logo'></span></a><a href="{{ location.getSurveyObject.Social_Twitter }}"><span class='twitter-logo'></span></a></p>
				  </div>
				  <div class="col-sm-4">
					  <div class="info-modal-titles">ORGANIZATION TYPE</div>
					  <p class="info-modal-content">
					  	{% for Organization_Description in location.getSurveyObject.Organization_Description_as_list %}
					  		{% if Organization_Description != 'undefined' %}
						    	<span class="label label-filter label-orgtype">{{ Organization_Description }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>				  	
					  <div class="info-modal-titles">ACTIVITES & SERVICES AT THIS LOCATION</div>
					  <p class="info-modal-content">
					  	{% for activity in location.Activity_as_list %}
					  		{% if activity != 'undefined' %}
						    	<span class="label label-filter label-activity">{{ activity }}</span>
					  		{% endif %}
						{% endfor %}
					  </p>				  	
					  <div class="info-modal-titles">SERVICE AREA</div>
					  <p class="info-modal-content">
					  	{% for Service_Area_Description in location.getSurveyObject.Service_Area_Description_as_list %}
					  		{% if Service_Area_Description != 'undefined' %}
						    	<span class="label label-filter label-servicearea">{{ Service_Area_Description }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>				  	
					  <div class="info-modal-titles">STRUCTURE</div>
					  <p class="info-modal-content">
					  	{% for organization_structured in location.getSurveyObject.organization_structured_as_list %}
					  		{% if organization_structured != 'undefined' %}
						    	<span class="label label-filter label-orgstructure">{{ organization_structured }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>
					  <div class="info-modal-titles">YEAR FOUNDED</div>
					  <p class="info-modal-content">{{ location.getSurveyObject.Year_Founded }}</p>
				  </div>
				  <div class="col-sm-4">
					  <div class="info-modal-titles">SERVICES THIS ORGANIZATION PROVIDES</div>
					  <p class="info-modal-content">
					  	{% for Activities_Services in location.getSurveyObject.Activities_Services_as_list %}
					  		{% if Activities_Services != 'undefined' %}
						    	<span class="label label-filter label-activityservice">{{ Activities_Services }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>
					  <div class="info-modal-titles">SERVICE POPULATION</div>
					  <p class="info-modal-content">
					  	{% for Service_Population in location.getSurveyObject.Service_Population_as_list %}
					  		{% if Service_Population != 'undefined' %}
						    	<span class="label label-filter label-servicepop">{{ Service_Population }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>
				  </div>
				{% else %}
				  <div class="col-sm-3">
				  	<div class='modalmap' id='map{{ location.idlocation }}'></div>
				  </div>
				  <div class="col-sm-3">
					  <div class="info-modal-titles">ORGANIZATIONAL CONTACT</div>
					  <p class="info-modal-content">{{ location.Address }} {{ location.Address2 }}<br>{{ location.City }}, {{ location.State }} {{ location.ZipCode }}</p>
					  <p class="info-modal-content"><a href="mailto:{{ location.getSurveyObject.Social_Email }}">{{ location.getSurveyObject.Social_Email }}</a></p>
					  <p class="info-modal-content"><a href="{{ location.getSurveyObject.Social_website }}">{{ location.getSurveyObject.Social_website }}</a></p>
					  <p class="info-modal-content"><a href="{{ location.getSurveyObject.Social_facebook }}"><span class='facebook-logo'></span></a><a href="{{ location.getSurveyObject.Social_Twitter }}"><span class='twitter-logo'></span></a></p>
				  </div>
				  <div class="col-sm-3">
					  <div class="info-modal-titles">ORGANIZATION TYPE</div>
					  <p class="info-modal-content">
					  	{% for Organization_Description in location.getSurveyObject.Organization_Description_as_list %}
					  		{% if Organization_Description != 'undefined' %}
						    	<span class="label label-filter label-orgtype">{{ Organization_Description }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>				  	
					  <div class="info-modal-titles">ACTIVITES & SERVICES AT THIS LOCATION</div>
					  <p class="info-modal-content">
					  	{% for activity in location.Activity_as_list %}
					  		{% if activity != 'undefined' %}
						    	<span class="label label-filter label-activity">{{ activity }}</span>
					  		{% endif %}
						{% endfor %}
					  </p>				  	
					  <div class="info-modal-titles">SERVICE AREA</div>
					  <p class="info-modal-content">
					  	{% for Service_Area_Description in location.getSurveyObject.Service_Area_Description_as_list %}
					  		{% if Service_Area_Description != 'undefined' %}
						    	<span class="label label-filter label-servicearea">{{ Service_Area_Description }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>				  	
					  <div class="info-modal-titles">STRUCTURE</div>
					  <p class="info-modal-content">
					  	{% for organization_structured in location.getSurveyObject.organization_structured_as_list %}
					  		{% if organization_structured != 'undefined' %}
						    	<span class="label label-filter label-orgstructure">{{ organization_structured }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>
					  <div class="info-modal-titles">YEAR FOUNDED</div>
					  <p class="info-modal-content">{{ location.getSurveyObject.Year_Founded }}</p>
				  </div>
				  <div class="col-sm-3">
					  <div class="info-modal-titles">SERVICES THIS ORGANIZATION PROVIDES</div>
					  <p class="info-modal-content">
					  	{% for Activities_Services in location.getSurveyObject.Activities_Services_as_list %}
					  		{% if Activities_Services != 'undefined' %}
						    	<span class="label label-filter label-activityservice">{{ Activities_Services }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>
					  <div class="info-modal-titles">SERVICE POPULATION</div>
					  <p class="info-modal-content">
					  	{% for Service_Population in location.getSurveyObject.Service_Population_as_list %}
					  		{% if Service_Population != 'undefined' %}
						    	<span class="label label-filter label-servicepop">{{ Service_Population }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>
				  </div>
				{% endif %}
				</div>
				<div class="row modalContent">
				  <div class="col-sm-6">
					  <div class="info-modal-titles">ORGANIZATIONAL MISSION</div>
					  <p class="info-modal-content">{{ location.getSurveyObject.Organizational_Mission }}</p>
					  <div class="info-modal-titles">LANGUAGES</div>
					  <p class="info-modal-content">
					  	{% for Languages in location.getSurveyObject.Languages_as_list %}
					  		{% if Languages != 'undefined' %}
						    	<span class="label label-filter label-language">{{ Languages }}</span>
					  		{% endif %}					  	
					  	{% endfor %}
					  </p>
					  <div class="info-modal-titles">PEOPLE</div>
					  <p class="info-modal-content">
					  	{% for contacts in location.getContactObject %}
					  		{% if contacts.KeepPrivate == 'true' %}
					  			{{ contacts.Name }}<br />
					  			{{ contacts.Title }}<br />
					  			{{ contacts.Tel }}<br />
					  			{{ contacts.Email|urlize }}<br /><br />
					  		{% endif %}
					  	{% endfor %}
					  </p>
					  <div class="info-modal-titles">PUBLIC MEETINGS</div>
					  <p class="info-modal-content">
					  	{% for meetings in location.getMeetingObject %}
					  		{% if meetings.hasMeeting == 'Yes' %}
					  			<strong>{{ meetings.MeetingName }}</strong><br />
					  			{{ meetings.Address }} {% if meetings.Address2 != 'No Data Yet' %}{{ meetings.Address2 }}{% endif %} <br />
					  			{{ meetings.City }}, {{ meetings.State }} {{ meetings.ZipCode }} <br />
					  			{{ meetings.Time1 }} {{ meetings.Repeat1 }}<br />
					  			<strong><em>Meeting Contact</em></strong><br />
					  			{{ meetings.MeetingPerson }}<br />
					  			{{ meetings.MeetingPersonPhone }}<br />
					  			{{ meetings.MeetingPersonEmail|urlize }}<br /><br />
					  		{% else %}
					  			No Regular Public Meetings
					  		{% endif %}
					  	{% endfor %}
					  </p>
					  
				  </div>
				  <div class="col-sm-6">
					  <div class="info-modal-titles">ACCOMPLISHMENTS</div>
					  <p class="info-modal-content">
						  {% if location.getSurveyObject.accomplish_one_title != 'No Data Yet' %}
							  <strong>1. {{ location.getSurveyObject.accomplish_one_title }}</strong> <br>						  
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_one_description != 'No Data Yet' %}
							  {{ location.getSurveyObject.accomplish_one_description }}<br>
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_two_title != 'No Data Yet' %}
							  <strong>2. {{ location.getSurveyObject.accomplish_two_title }}</strong> <br>						  
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_two_description != 'No Data Yet' %}
							  {{ location.getSurveyObject.accomplish_two_description }}<br>
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_three_title != 'No Data Yet' %}
							  <strong>3. {{ location.getSurveyObject.accomplish_three_title }}</strong> <br>						  
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_three_description != 'No Data Yet' %}
							  {{ location.getSurveyObject.accomplish_three_description }}<br>
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_four_title != 'No Data Yet' %}
							  <strong>4. {{ location.getSurveyObject.accomplish_four_title }}</strong> <br>						  
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_four_description != 'No Data Yet' %}
							  {{ location.getSurveyObject.accomplish_four_description }}<br>
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_five_title != 'No Data Yet' %}
							  <strong>5. {{ location.getSurveyObject.accomplish_four_title }}</strong> <br>						  
						  {% endif %}
						  {% if location.getSurveyObject.accomplish_five_description != 'No Data Yet' %}
							  {{ location.getSurveyObject.accomplish_five_description }}<br>
						  {% endif %}
						  
					  </p>				  					  				  	
				  </div>
				</div>
				
			</div>
	    </div>
{% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#orgCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#orgCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="modal fade in" id="orgModal" tabindex="-1" role="dialog" aria-labelledby="orgModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="modal-orgName text-uppercase" id="titleOrgName"></p>
      </div>
      <div class="modal-body">
		  <!-- carousel goes here -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->