{% load staticfiles %}

<div class="popup-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<span class="popup-heading-text">{{ locations.count }} Resource{{ locations.count|pluralize }} (<img src="{% static 'cdadmap/css/images/cdad-marker.png' %}" /> On Map)</span>
					<a id="popup-expand" class="btn btn-default btn-xs pull-right" href="#" role="button">Contract this window</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p id="popup-filters" class="popup-filters"></p>	
				</div>
			</div>
			{% for location in locations %}
				{% if forloop.first %}
					<div class="row">
				{% endif %}
						<div class="col-sm-3">
							<div class="block-link" data-toggle='modal' data-target='#orgModal' data-local='#orgCarousel' id='slideToPopup{{ forloop.counter0 }}'>
								<div class="popup-title">
									{{ location.Organization_Name }}
								</div>
								{% if location.Address %}
									<p class="popup-address">{{ location.Address }}{% if location.Address2 %}<br />{{ location.Address2 }}{% endif %}<br />{{ location.City }}, {{ location.State }} {{ location.ZipCode }}</p>
									{% if location.Lat != '0' %}
										<img class="location-dot" src="{% static 'cdadmap/css/images/cdad-marker.png' %}" />
									{% endif %}
								{% endif %}
							</div>
						</div>
				{% if forloop.counter|divisibleby:4 %}
					</div>
					<div class="row">
				{% endif %}
				{% if forloop.last %}
					</div>
				{% endif %}
			{% empty %}
				<p>No resources match your search criteria. Please try again.</p> 
			{% endfor %}




		</div>
</div>

<!-- dynamic js for launching the carousel modal -->
<script type="text/javascript">
	// create array of service areas based on the locations
	var staticGeoJSON = []
	{% for id in surveys_with_maps_ids %}
		staticGeoJSON.push({{ id }});
	{% endfor %}

	// modal carousel
	{% for location in locations %}

		var slideToIdlocationPopup = '#slideToPopup' + parseInt({{ forloop.counter0 }});
		$(slideToIdlocationPopup).click(function() {
			// show carousel in modal
			$( "#orgCarousel" ).show();

			$( "#orgCarousel" ).carousel(parseInt({{ forloop.counter0 }}));
			
			setTimeout(function() {
				
				maps[{{ forloop.counter0 }}].map.invalidateSize();

			}, 200);

			{% if location.getSurveyObject.Organizaton_Acronym %}
				var Organizaton_Acronym = "({{ location.getSurveyObject.Organizaton_Acronym}})";
			{% else %}
				var Organizaton_Acronym = "";								
			{% endif %}

			// set up modal for having this org selected
			$( "#titleOrgName" ).html('{{ location.Organization_Name }} ' + Organizaton_Acronym);			
			
		});

	{% endfor %}

	// expand/contract lower tray
	$('#popup-expand').click(function() {
		$( ".popup-wrapper" ).toggleClass("popup-wrapper-open");
		$( ".map" ).toggleClass("map-popup-wrapper-open");
		var text = $('#popup-expand').text();
		$('#popup-expand').text(text == "Expand this window" ? "Contract this window" : "Expand this window");
	});


</script>

