{% extends 'cdadsurvey/base.html' %}
{% load staticfiles %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Survey Dashboard</h3>
      {% if update %}
      	<p>Please update your survey. Thank you!</p>
      	<a class="btn btn-default btn-lg" href="/survey/{{ id }}/" role="button">Update Your Survey</a>
      {% endif %}
      {% if page == -99 %}
      {% elif page == 15 %}
        <p>Your completed survey is under review at CDAD. We will notify you at the email address you submitted when the review is complete and your data are avialable online at the d[COM]munity website. If you have any questions, please email <a href="mailto:aarongoodman@cdad-online.org">Arron Goodman: aarongoodman@cdad-online.org</a></p>
        <p>You may also continue to edit your survey if you like. Click the button below to edit your survey</p>
        <a class="btn btn-default btn-lg" href="/survey{{ page }}/{{ id }}/" role="button">Edit Your Survey</a>
      {% elif page > 1 %}
        <p>Please continue your survey where you left off. Thank you!</p>
        <a class="btn btn-default btn-lg" href="/survey{{ page }}/{{ id }}/" role="button">Continue Your Survey</a>
      {% else %}
        <p>Please continue your survey where you left off. Thank you!</p>
        <a class="btn btn-default btn-lg" href="/survey/{{ id }}/" role="button">Continue Your Survey</a>
      {% endif %}
    </div>
  </div>
</div> <!-- /container -->
{% endblock %}




	
	

