{% extends 'cdadsurvey/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{{ formset.media }}
{% endblock %}
	

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h3>Regular Public Meeting Schedule</h3>
		<form method="post" action=".">
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}
				<div id="section{{ forloop.counter0 }}">
				{{ form|as_bootstrap }}
					<button id="clear{{ forloop.counter0 }}" class="btn btn-warning" type="button">Remove Meeting</button>
				{% if forloop.last %}
				{% else %}
					<button id="new{{ forloop.counter }}" class="btn btn-success">Add Additional Meeting</button>
				{% endif %}
					<hr />
				</div>
					<script type="text/javascript">
						$( document ).ready(function() {
							// hide sections that don't have data
							if (!$('#id_form-{{ forloop.counter }}-MeetingName').val()) {
								$('#section{{ forloop.counter }}').addClass('hidden');
							}

							// hide these two questions after the first form
							{% if forloop.counter0 != 0 %}
								$('#div_id_form-{{ forloop.counter0 }}-hasMeeting').addClass('hidden');
								$('#div_id_form-{{ forloop.counter0 }}-MeetAlways').addClass('hidden');
							{% endif %}

							// hide all delete check boxes
							$('#div_id_form-{{ forloop.counter0 }}-DELETE').addClass('hidden');

							// clear button
							$('#clear{{ forloop.counter0 }}').click(function(e) {
								e.preventDefault();
								$('#id_form-{{ forloop.counter0 }}-hasMeeting').prop( "checked", false );
								$('#id_form-{{ forloop.counter0 }}-MeetingName').val('');
								$('#id_form-{{ forloop.counter0 }}-Address').val('');
								$('#id_form-{{ forloop.counter0 }}-Address2').val('');
								$('#id_form-{{ forloop.counter0 }}-City').val('');
								$('#id_form-{{ forloop.counter0 }}-ZipCode').val('');
								$('#id_form-{{ forloop.counter0 }}-StartOn input').val('');
								$('#id_form-{{ forloop.counter0 }}-EndsOn input').val('');
								$('#id_form-{{ forloop.counter0 }}-all_day').prop( "checked", false );
								$('#id_form-{{ forloop.counter0 }}-repeat').val('NEVER');
								$('#id_form-{{ forloop.counter0 }}-end_repeat input').val('');
								$('#id_form-{{ forloop.counter0 }}-MeetingPerson').val('');
								$('#id_form-{{ forloop.counter0 }}-MeetingPersonPhone').val('');
								$('#id_form-{{ forloop.counter0 }}-MeetingPersonEmail').val('');
								$('#id_form-{{ forloop.counter0 }}-MeetAlways').prop( "checked", false );
								//check deleted
								$('#id_form-{{ forloop.counter0 }}-DELETE').prop("checked", true);
								// hide this part of form umless it's the first one
								{% if forloop.counter0 != 0 %}
									$('#section{{ forloop.counter0 }}').addClass('hidden');
								{% endif %}
							});
							$('#new{{ forloop.counter }}').click(function(e) {
								e.preventDefault();
								$('#section{{ forloop.counter }}').removeClass('hidden');
								// ensure DELETE is unchecked
								$('#id_form-{{ forloop.counter }}-DELETE').prop("checked", false);
							});	

						});
					</script>

			{% endfor %}
			<a class="btn btn-default" href="/survey10/{{ id }}/">Back</a>
			<input type="submit" class="btn btn-primary" value="Save and Continue" />
		</form>
    </div>
	<div class="col-md-1">
		<div class="percent">
			<em>71</em>
			<sup>%</sup>
		</div>
	</div>
  </div>
</div> <!-- /container -->

{% endblock %}



	
	

