{% extends 'cdadsurvey/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h3>Organization Location</h3>
      <p>Enter all physical and mailing addresses for your organization.</p>
		<form method="post" action=".">
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}
				<div id="section{{ forloop.counter0 }}">
				{% if forloop.first %}
					<p><strong>(Required)</strong></p>
				{% else %}
				{% endif %}
				{{ form|as_bootstrap }}
					<button id="clear{{ forloop.counter0 }}" class="btn btn-warning" type="button">Remove Location</button>
				{% if forloop.last %}
				{% else %}
					<button id="new{{ forloop.counter }}" class="btn btn-success">Add An Additional Address or Location</button>
				{% endif %}
					<hr />
				</div>
					<script type="text/javascript">
						$( document ).ready(function() {
							// hide sections that don't have data
							if (!$('#id_form-{{ forloop.counter }}-Address').val()) {
								$('#section{{ forloop.counter }}').addClass('hidden');
							}

							// hide all delete check boxes
							$('#div_id_form-{{ forloop.counter0 }}-DELETE').addClass('hidden');

							// clear button
							$('#clear{{ forloop.counter0 }}').click(function(e) {
								e.preventDefault();
								$('#id_form-{{ forloop.counter0 }}-Address').val('');
								$('#id_form-{{ forloop.counter0 }}-Address2').val('');
								$('#id_form-{{ forloop.counter0 }}-City').val('');
								$('#id_form-{{ forloop.counter0 }}-State').val('');
								$('#id_form-{{ forloop.counter0 }}-ZipCode').val('');
								$('#id_form-{{ forloop.counter0 }}-MailingAddress').prop( "checked", false );
								$('#id_form-{{ forloop.counter0 }}-KeepPrivate').prop( "checked", false );
								for (var i = 1; i <= 9 ; i++) {
									$('#id_form-{{ forloop.counter0 }}-Activity_' + i).prop( "checked", false );
								};
								
								//check deleted
								$('#id_form-{{ forloop.counter0 }}-DELETE').prop("checked", true);
								// hide this part of form umless it's the first one
								{% if forloop.counter0 != 0 %}
									$('#section{{ forloop.counter0 }}').addClass('hidden');
								{% endif %}
							});
							$('#new{{ forloop.counter }}').click(function(e) {
								e.preventDefault();
								$('#section{{ forloop.counter }}').removeClass('hidden');
								// ensure DELETE is unchecked
								$('#id_form-{{ forloop.counter }}-DELETE').prop("checked", false);
							});	

						});
					</script>

			{% endfor %}
			<a class="btn btn-default" href="/survey4/{{ id }}/">Back</a>
			<input type="submit" class="btn btn-primary" value="Save and Continue" />
		</form>
    </div>
	<div class="col-md-1">
		<div class="percent">
			<em>29</em>
			<sup>%</sup>
		</div>
	</div>
  </div>
</div> <!-- /container -->

{% endblock %}


{% block js_block %}
<script type="text/javascript">
	$( document ).ready(function() {
		if (!$('#id_form-0-Activity_9').is(':checked')) {
			$('#div_id_form-0-Activity_Other').addClass('hidden');
		}

		$('#id_form-0-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-0-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-0-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-0-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-1-Activity_9').is(':checked')) {
			$('#div_id_form-1-Activity_Other').addClass('hidden');
		}

		$('#id_form-1-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-1-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-1-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-1-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-2-Activity_9').is(':checked')) {
			$('#div_id_form-2-Activity_Other').addClass('hidden');
		}

		$('#id_form-2-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-2-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-2-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-2-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-3-Activity_9').is(':checked')) {
			$('#div_id_form-3-Activity_Other').addClass('hidden');
		}

		$('#id_form-3-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-3-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-3-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-3-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-4-Activity_9').is(':checked')) {
			$('#div_id_form-4-Activity_Other').addClass('hidden');
		}

		$('#id_form-4-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-4-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-4-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-4-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-5-Activity_9').is(':checked')) {
			$('#div_id_form-5-Activity_Other').addClass('hidden');
		}

		$('#id_form-5-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-5-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-5-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-5-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-6-Activity_9').is(':checked')) {
			$('#div_id_form-6-Activity_Other').addClass('hidden');
		}

		$('#id_form-6-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-6-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-6-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-6-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-7-Activity_9').is(':checked')) {
			$('#div_id_form-7-Activity_Other').addClass('hidden');
		}

		$('#id_form-7-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-7-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-7-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-7-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-8-Activity_9').is(':checked')) {
			$('#div_id_form-8-Activity_Other').addClass('hidden');
		}

		$('#id_form-8-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-8-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-8-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-8-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-9-Activity_9').is(':checked')) {
			$('#div_id_form-9-Activity_Other').addClass('hidden');
		}

		$('#id_form-9-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-9-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-9-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-9-Activity_Other').val('');
			}
			
		});


		if (!$('#id_form-10-Activity_9').is(':checked')) {
			$('#div_id_form-10-Activity_Other').addClass('hidden');
		}

		$('#id_form-10-Activity_9').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_form-10-Activity_Other').removeClass('hidden');
			} else {
				$('#div_id_form-10-Activity_Other').addClass('hidden');
				// remove text from field
				$('#id_form-10-Activity_Other').val('');
			}
			
		});


	});
</script>
{% endblock %}

	
	

