{% extends 'cdadsurvey/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-11">
      <h3>Programs and Activities</h3>
		<form method="post" action=".">
			{% csrf_token %}
			{{ form|as_bootstrap }}
			<a class="btn btn-default" href="/survey9/{{ id }}/">Back</a>
			<input type="submit" class="btn btn-primary" value="Save and Continue" />
		</form>
    </div>
	<div class="col-md-1">
		<div class="percent">
			<em>64</em>
			<sup>%</sup>
		</div>
	</div>
  </div>
</div> <!-- /container -->
{% endblock %}


{% block js_block %}
<script type="text/javascript">
	$( document ).ready(function() {
		if (!$('#id_Service_Population_15').is(':checked')) {
			$('#div_id_Service_Population_Other').addClass('hidden');
		}

		$('#id_Service_Population_15').change(function() {
			if ($(this).is(':checked')) {
				$('#div_id_Service_Population_Other').removeClass('hidden');
			} else {
				$('#div_id_Service_Population_Other').addClass('hidden');
				// remove text from field
				$('#id_Service_Population_Other').val('');
			}
			
		});

	});
</script>
{% endblock %}


	
	

